In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_csv('dataset.csv')
df.head()

C:\Users\kamal\AppData\Local\Temp\ipykernel_18032\854447061.py:1: DtypeWarning: Columns (3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('dataset.csv')

,id,spkid,full_name,pdes,name,prefix,neo,pha,H,diameter,...,sigma_i,sigma_om,sigma_w,sigma_ma,sigma_ad,sigma_n,sigma_tp,sigma_per,class,rms
0,a0000001,2000001,1 Ceres,1,Ceres,NaN,N,N,3.40,939.400,...,4.608900e-09,6.168800e-08,6.624800e-08,7.820700e-09,1.111300e-11,1.196500e-12,3.782900e-08,9.415900e-09,MBA,0.43301
1,a0000002,2000002,2 Pallas,2,Pallas,NaN,N,N,4.20,545.000,...,3.469400e-06,6.272400e-06,9.128200e-06,8.859100e-06,4.961300e-09,4.653600e-10,4.078700e-05,3.680700e-06,MBA,0.35936
2,a0000003,2000003,3 Juno,3,Juno,NaN,N,N,5.33,246.596,...,3.223100e-06,1.664600e-05,1.772100e-05,8.110400e-06,4.363900e-09,4.413400e-10,3.528800e-05,3.107200e-06,MBA,0.33848
3,a0000004,2000004,4 Vesta,4,Vesta,NaN,N,N,3.00,525.400,...,2.170600e-07,3.880800e-07,1.789300e-07,1.206800e-06,1.648600e-09,2.612500e-10,4.103700e-06,1.274900e-06,MBA,0.39980
4,a0000005,2000005,5 Astraea,5,Astraea,NaN,N,N,6.90,106.699,...,2.740800e-06,2.894900e-05,2.984200e-05,8.303800e-06,4.729000e-09,5.522700e-10,3.474300e-05,3.490500e-06,MBA,0.52191

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958524 entries, 0 to 958523
Data columns (total 45 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              958524 non-null  object
 1   spkid           958524 non-null  int64
 2   full_name       958524 non-null  object
 3   pdes            958524 non-null  object
 4   name            22064 non-null   object
 5   prefix          18 non-null      object
 6   neo             958520 non-null  object
 7   pha             938603 non-null  object
 8   H               952261 non-null  float64
 9   diameter        136209 non-null  float64
 10  albedo          135103 non-null  float64
 11  diameter_sigma  136081 non-null  float64
 12  orbit_id        958524 non-null  object
 13  epoch           958524 non-null  float64
 14  epoch_mjd       958524 non-null  int64
 15  epoch_cal       958524 non-null  float64
 16  equinox         958524 non-null  object
 17  e               958524 non-null  float64
 18  a               958524 non-null  float64
 19  q               958524 non-null  float64
 20  i               958524 non-null  float64
 21  om              958524 non-null  float64
 22  w               958524 non-null  float64
 23  ma              958523 non-null  float64
 24  ad              958520 non-null  float64
 25  n               958524 non-null  float64
 26  tp              958524 non-null  float64
 27  tp_cal          958524 non-null  float64
 28  per             958520 non-null  float64
 29  per_y           958523 non-null  float64
 30  moid            938603 non-null  float64
 31  moid_ld         958397 non-null  float64
 32  sigma_e         938602 non-null  float64
 33  sigma_a         938602 non-null  float64
 34  sigma_q         938602 non-null  float64
 35  sigma_i         938602 non-null  float64
 36  sigma_om        938602 non-null  float64
 37  sigma_w         938602 non-null  float64
 38  sigma_ma        938602 non-null  float64
 39  sigma_ad        938598 non-null  float64
 40  sigma_n         938602 non-null  float64
 41  sigma_tp        938602 non-null  float64
 42  sigma_per       938598 non-null  float64
 43  class           958524 non-null  object
 44  rms             958522 non-null  float64
dtypes: float64(33), int64(2), object(10)
memory usage: 329.1+ MB

In [4]:
df.drop(df.columns[[0,3,5,6,7]],axis = 1,inplace = True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958524 entries, 0 to 958523
Data columns (total 40 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   spkid           958524 non-null  int64
 1   full_name       958524 non-null  object
 2   name            22064 non-null   object
 3   H               952261 non-null  float64
 4   diameter        136209 non-null  float64
 5   albedo          135103 non-null  float64
 6   diameter_sigma  136081 non-null  float64
 7   orbit_id        958524 non-null  object
 8   epoch           958524 non-null  float64
 9   epoch_mjd       958524 non-null  int64
 10  epoch_cal       958524 non-null  float64
 11  equinox         958524 non-null  object
 12  e               958524 non-null  float64
 13  a               958524 non-null  float64
 14  q               958524 non-null  float64
 15  i               958524 non-null  float64
 16  om              958524 non-null  float64
 17  w               958524 non-null  float64
 18  ma              958523 non-null  float64
 19  ad              958520 non-null  float64
 20  n               958524 non-null  float64
 21  tp              958524 non-null  float64
 22  tp_cal          958524 non-null  float64
 23  per             958520 non-null  float64
 24  per_y           958523 non-null  float64
 25  moid            938603 non-null  float64
 26  moid_ld         958397 non-null  float64
 27  sigma_e         938602 non-null  float64
 28  sigma_a         938602 non-null  float64
 29  sigma_q         938602 non-null  float64
 30  sigma_i         938602 non-null  float64
 31  sigma_om        938602 non-null  float64
 32  sigma_w         938602 non-null  float64
 33  sigma_ma        938602 non-null  float64
 34  sigma_ad        938598 non-null  float64
 35  sigma_n         938602 non-null  float64
 36  sigma_tp        938602 non-null  float64
 37  sigma_per       938598 non-null  float64
 38  class           958524 non-null  object
 39  rms             958522 non-null  float64
dtypes: float64(33), int64(2), object(5)
memory usage: 292.5+ MB

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['class'] = le.fit_transform(df['class'])
df['equinox'] = le.fit_transform(df['equinox'])
df['orbit_id'] = le.fit_transform(df['orbit_id'])
df['name'] = le.fit_transform(df['name'])
df['full_name'] = le.fit_transform(df['full_name'])

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958524 entries, 0 to 958523
Data columns (total 40 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   spkid           958524 non-null  int64
 1   full_name       958524 non-null  int32
 2   name            958524 non-null  int32
 3   H               952261 non-null  float64
 4   diameter        136209 non-null  float64
 5   albedo          135103 non-null  float64
 6   diameter_sigma  136081 non-null  float64
 7   orbit_id        958524 non-null  int32
 8   epoch           958524 non-null  float64
 9   epoch_mjd       958524 non-null  int64
 10  epoch_cal       958524 non-null  float64
 11  equinox         958524 non-null  int32
 12  e               958524 non-null  float64
 13  a               958524 non-null  float64
 14  q               958524 non-null  float64
 15  i               958524 non-null  float64
 16  om              958524 non-null  float64
 17  w               958524 non-null  float64
 18  ma              958523 non-null  float64
 19  ad              958520 non-null  float64
 20  n               958524 non-null  float64
 21  tp              958524 non-null  float64
 22  tp_cal          958524 non-null  float64
 23  per             958520 non-null  float64
 24  per_y           958523 non-null  float64
 25  moid            938603 non-null  float64
 26  moid_ld         958397 non-null  float64
 27  sigma_e         938602 non-null  float64
 28  sigma_a         938602 non-null  float64
 29  sigma_q         938602 non-null  float64
 30  sigma_i         938602 non-null  float64
 31  sigma_om        938602 non-null  float64
 32  sigma_w         938602 non-null  float64
 33  sigma_ma        938602 non-null  float64
 34  sigma_ad        938598 non-null  float64
 35  sigma_n         938602 non-null  float64
 36  sigma_tp        938602 non-null  float64
 37  sigma_per       938598 non-null  float64
 38  class           958524 non-null  int32
 39  rms             958522 non-null  float64
dtypes: float64(33), int32(5), int64(2)
memory usage: 274.2 MB

In [8]:
df.isnull().sum()

spkid                  0
full_name              0
name                   0
H                   6263
diameter          822315
albedo            823421
diameter_sigma    822443
orbit_id               0
epoch                  0
epoch_mjd              0
epoch_cal              0
equinox                0
e                      0
a                      0
q                      0
i                      0
om                     0
w                      0
ma                     1
ad                     4
n                      0
tp                     0
tp_cal                 0
per                    4
per_y                  1
moid               19921
moid_ld              127
sigma_e            19922
sigma_a            19922
sigma_q            19922
sigma_i            19922
sigma_om           19922
sigma_w            19922
sigma_ma           19922
sigma_ad           19926
sigma_n            19922
sigma_tp           19922
sigma_per          19926
class                  0
rms                    2
dtype: int64

In [9]:
df['H'].fillna(df['H'].mean() , inplace = True)
df['diameter'].fillna(df['diameter'].mean(),inplace = True)
df['albedo'].fillna(df['albedo'].mean(),inplace = True)
df['diameter_sigma'].fillna(df['diameter_sigma'].mean(), inplace = True)
df['ma'].fillna(df['ma'].mean(),inplace = True)
df['ad'].fillna(df['ad'].mean(),inplace = True)
df['per'].fillna(df['per'].mean(),inplace = True)
df['per_y'].fillna(df['per_y'].mean(),inplace = True)
df['moid'].fillna(df['moid'].mean(),inplace = True)
df['moid_ld'].fillna(df['moid_ld'].mean(),inplace = True)
df['sigma_e'].fillna(df['sigma_e'].mean(),inplace = True)
df['sigma_a'].fillna(df['sigma_a'].mean(),inplace = True)
df['sigma_q'].fillna(df['sigma_q'].mean(),inplace = True)
df['sigma_i'].fillna(df['sigma_i'].mean(),inplace = True)
df['sigma_om'].fillna(df['sigma_om'].mean(),inplace = True)
df['sigma_w'].fillna(df['sigma_w'].mean(),inplace = True)
df['sigma_ma'].fillna(df['sigma_ma'].mean(),inplace = True)
df['sigma_ad'].fillna(df['sigma_ad'].mean(),inplace = True)
df['sigma_n'].fillna(df['sigma_n'].mean(),inplace = True)
df['sigma_tp'].fillna(df['sigma_tp'].mean(),inplace = True)
df['sigma_per'].fillna(df['sigma_per'].mean(),inplace = True)
df['rms'].fillna(df['rms'].mean(),inplace = True)

In [10]:
df.isnull().sum()

spkid             0
full_name         0
name              0
H                 0
diameter          0
albedo            0
diameter_sigma    0
orbit_id          0
epoch             0
epoch_mjd         0
epoch_cal         0
equinox           0
e                 0
a                 0
q                 0
i                 0
om                0
w                 0
ma                0
ad                0
n                 0
tp                0
tp_cal            0
per               0
per_y             0
moid              0
moid_ld           0
sigma_e           0
sigma_a           0
sigma_q           0
sigma_i           0
sigma_om          0
sigma_w           0
sigma_ma          0
sigma_ad          0
sigma_n           0
sigma_tp          0
sigma_per         0
class             0
rms               0
dtype: int64

In [11]:
x = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [12]:
x

array([[2.000001e+06, 4.133890e+05, 3.315000e+03, ..., 3.782900e-08,
        9.415900e-09, 8.000000e+00],
       [2.000002e+06, 4.133900e+05, 1.489400e+04, ..., 4.078700e-05,
        3.680700e-06, 8.000000e+00],
       [2.000003e+06, 4.133910e+05, 9.544000e+03, ..., 3.528800e-05,
        3.107200e-06, 8.000000e+00],
       ...,
       [3.013075e+06, 4.133710e+05, 2.206400e+04, ..., 2.830600e-04,
        9.127500e-05, 1.000000e+00],
       [3.246457e+06, 4.133620e+05, 2.206400e+04, ..., 3.898400e+01,
        5.035500e+02, 8.000000e+00],
       [3.246553e+06, 4.133640e+05, 2.206400e+04, ..., 5.523600e+00,
        1.064800e+02, 8.000000e+00]])

In [13]:
x_train,x_temp,y_train,y_temp = train_test_split(x,y,test_size = 0.3,random_state = 0)
x_val,x_test,y_val,y_test = train_test_split(x_temp,y_temp,test_size = 0.5,random_state = 0)

In [14]:
decision_tree_model = DecisionTreeRegressor(max_depth = 3)
decision_tree_model.fit(x_train,y_train)

DecisionTreeRegressor(max_depth=3)

In [15]:
test_pred = decision_tree_model.predict(x_test)
test_loss = mean_squared_error(y_test,test_pred)
print(f'Test loss:{test_loss:4f}')

Test loss:0.010834

In [16]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test,test_pred)
r2

0.2010492478346697